<div id="pricing-input">
    <h4 id="top-header">Pricing</h4>
    <div class="search-parameter">
        <label for="sku">SKU:</label>
        <input class="long-label-input" type="text" name="sku" id="sku" />

        <label for="price">Price:</label>
        <input class="short-label-input" type="number" step="any"
            name="price" id="price" value="{{price}}" />
    </div>
</div>

<div id="general-software">
    <h4 class="headers">General (software)</h4>
    <div class="software-information">
        <label for="OS">Operating System (OS):</label>
        <input class="long-label-input" type="text" name="OS" id="OS" />

        <label for="year">Year:</label>
        <input class="short-label-input" type="number" step="1" name="year" id="year" />

        <label for="bluetooth">Bluetooth:</label>
        <select name="bluetooth" id="bluetooth">
            <option value="bluetooth-blank"></option>
            <option value="bluetooth-true">Yes</option>
            <option value="bluetooth-false">No</option>
        </select>
    </div>
</div>

<div id="manufacturing-inputs">
    <h4 class="headers">Manufacturing and Model Number</h4>
    <div class="search-parameter">
        <label for="manufacturer">Manufacturer:</label>
        <input class="long-label-input" type="text" name="manufacturer"
            id="manufacturer" />

        <label for="model-number">Model Number:</label>
        <input class="long-label-input" type="text" name="model-number"
            id="model-number" />
    </div>
</div>
<div id="screen-and-resolution">
    <h4 class="headers">Screen and Resolution</h4>
    <div class="search-parameter">

        <label for="diagonal-screen">Screen Diagonal:</label>
        <input class="short-label-input" type="number" step="any" name="diagonal-screen"
            id="diagonal-screen" />

        <label for="resolution1">Resolution:</label>
        <input class="short-label-input" style="margin-right: 1%;" type="number" step="1"
            name="resolution1" id="resolution1" />
        <span>X</span>
        <input class="short-label-input" style="margin-left: 1%;" type="number" step="1"
            name="resolution2" id="resolution2">
        
        <label for="touch-screen">Touch Screen:</label>
        <select name="touch-screen" id="touch-screen" class="adjust-right">
            <option value="touch-screen-none"></option>
            <option value="touch-screen-true">Yes</option>
            <option value="touch-screen-false">No</option>
        </select>
    </div>
    
</div>

<div id="memory-inputs">
    <h4 class="headers">Memory</h4>
    <div class="search-parameter">
        <div>
            <label for="ssd1-storage">Storage (SSD 1):</label>
            <input class="short-label-input" type="number" step="1" name="ssd1-storage"
                id="ssd1-storage" />

            <label for="ssd1-storage-unit">Storage Units:</label>
            <select name="ssd1-storage-unit" id="ssd1-storage-unit" class="adjust-right">
                <option value="GB">GB</option>
                <option value="TB">TB</option>
            </select>

            <label for="ssd1-type">SSD Type:</label>
            <select name="ssd1-type" id="ssd1-type">
                <option value=""></option>
                <option value="NVMe">NVMe</option>
                <option value="SATA">SATA</option>
            </select>
        </div>

        <div>
            <label for="ssd2-storage">Storage (SSD 2):</label>
            <input class="short-label-input" type="number" step="1" name="ssd2-storage"
                id="ssd2-storage" />

            <label for="ssd2-storage-unit">Storage Units:</label>
            <select name="ssd2-storage-unit" id="ssd2-storage-unit" class="adjust-right">
                <option value="GB">GB</option>
                <option value="TB">TB</option>
            </select>

            <label for="ssd2-type">SSD Type:</label>
            <select name="ssd2-type" id="ssd2-type">
                <option value=""></option>
                <option value="NVMe">NVMe</option>
                <option value="SATA">SATA</option>
            </select>
        </div>

        <div>
            <label for="hdd1-storage">Storage (HDD 1):</label>
            <input class="short-label-input" type="number" step="1" name="hdd1-storage"
                id="hdd1-storage" />

            <label for="hdd1-storage-unit">Storage Units:</label>
            <select name="hdd1-storage-unit" id="hdd1-storage-unit" class="adjust-right">
                <option value="GB">GB</option>
                <option value="TB">TB</option>
            </select>
        </div>

        <div>
            <label for="hdd2-storage">Storage (HDD 2):</label>
            <input class="short-label-input" type="number" step="1" name="hdd2-storage"
                id="hdd2-storage" />

            <label for="hdd2-storage-unit">Storage Units:</label>
            <select name="hdd2-storage-unit" id="hdd2-storage-unit" class="adjust-right">
                <option value="GB">GB</option>
                <option value="TB">TB</option>
            </select>
        </div>

        <div>

            <label for="ram">RAM (GB):</label>
            <input class="short-label-input" type="number" step="1" name="ram"
                id="ram" />
            <label for="ram-type">RAM Type:</label>
            <input class="short-label-input" type="text" name="ram-type" id="ram-type" />
            <label for="clock-rate">RAM Clock Rate:</label>
            <input class="short-label-input" type="number" step="1" name="clock-rate"
                id="clock-rate" />

            <label for="ram-upgradable">RAM Upgradable:</label>
            <select name="ram-upgradable" id="ram-upgradable" class="adjust-right">
                <option value="ram-upgradable-none"></option>
                <option value="ram-upgradable-true">Yes</option>
                <option value="ram-upgradable-false">No</option>
            </select>

            <label for="slots-used">Slots Used:</label>
            <input class="short-label-input" type="number" step="1" name="slots-used"
                id="slots-used" />
            <label for="slots-empty">Slots Empty:</label>
            <input class="short-label-input" type="number" step="1" name="slots-empty"
                id="slots-empty" />

        </div>
    </div>
</div>

<div id="processing-inputs">
    <h4 class="headers">Processing</h4>
    <div class="search-parameter">
        <div>
            <label for="cpu">CPU:</label>
            <input class="long-label-input" type="text" name="cpu" id="cpu" />

            <label for="base-speed">Base Speed (GHz):</label>
            <input class="short-label-input" type="number" step="any" name="base-speed"
                id="base-speed" />

            <label for="cores">Cores:</label>
            <input class="short-label-input" type="number" step="1" name="cores"
                id="cores" />

            <label for="threads">Threads:</label>
            <input class="short-label-input" type="number" step="1" name="threads"
                id="threads" />
        </div>
    </div>

    <div id="graphics-card">
        <h4 class="headers">Graphics Card</h4>
        <div class="search-parameter">

            <label for="gpu">GPU:</label>
            <input class="long-label-input" type="text" name="gpu" id="gpu" />

            <label for="passmark-score">Passmark Score:</label>
            <input class="short-label-input" type="number" step="1" name="passmark-score"
                id="passmark-score" />

            <label for="vram">Vram (GB):</label>
            <input class="short-label-input" type="number" step="1" name="vram"
                id="vram" />
        </div>
    </div>

    <div id="internet">
        <h4 class="headers">Internet</h4>

        <div class="search-parameter">
            <span class="checkbox-header-inline">Wired Networking:</span>

            <label for="10-100">10/100:</label>
            <input type="checkbox" name="10-100" id="10-100" />

            <label for="gigabit">Gigabit:</label>
            <input type="checkbox" name="gigabit" id="gigabit" />

            <label for="25-GbE">2.5+GbE:</label>
            <input type="checkbox" name="25-GbE" id="25-GbE" />

            <label for="none-wired">None</label>
            <input type="checkbox" name="none-wired" id="none-wired" />
        </div>

        <div class="search-parameter">
            <span class="checkbox-header-inline">Wireless Networking:</span>

            <label for="802-bgn">802.11-bgn:</label>
            <input type="checkbox" name="802-bgn" id="802-bgn" />

            <label for="dual-band">Dual Band:</label>
            <input type="checkbox" name="dual-band" id="dual-band" />

            <label for="ax">ax:</label>
            <input type="checkbox" name="ax" id="ax" />

            <label for="ac">ac:</label>
            <input type="checkbox" name="ac" id="ac" />

            <label for="none-wireless">None:</label>
            <input type="checkbox" name="none-wireless"
                id="none-wireless" />
        </div>
    </div>

    <div id="monitor-connections">
        <h4 class="headers">Monitor Connections</h4>
        <div class="search-parameter">

            <label for="VGA">VGA:</label>
            <input type="checkbox" name="VGA" id="VGA" />

            <label for="DVI">DVI:</label>
            <input type="checkbox" name="DVI" id="DVI" />

            <label for="USBC">USB-C:</label>
            <input type="checkbox" name="USBC" id="USBC" />

            <label for="THUNDERBOLT">Thunderbolt:</label>
            <input type="checkbox" name="THUNDERBOLT" id="THUNDERBOLT" />

            <label for="HDMI">HDMI:</label>
            <input type="checkbox" name="HDMI" id="HDMI" />

            <label for="DP">DP:</label>
            <input type="checkbox" name="DP" id="DP" />

            <label for="other-video-output">Other:</label>
            <input class="short-label-input" type="text" name="other-video-output"
                id="other-video-output" />
        </div>
    </div>

    <div id="general-hardware">
        <h4 class="headers">General (hardware)</h4>
        <div class="search-parameter">

            <div class="search-parameter">
                <span class="checkbox-header-inline">Disc Reader:</span>

                <label for="dvd">DVD:</label>
                <input type="checkbox" name="dvd" id="dvd" />

                <label for="blu-ray">Blu-Ray:</label>
                <input type="checkbox" name="blu-ray" id="blu-ray" />

                <label for="none-optical-drive">None:</label>
                <input type="checkbox" name="none-optical-drive"
                    id="none-optical-drive" />

                <label for="other-disc-reader">Other:</label>
                <input class="short-label-input" type="text" name="other-disc-reader"
                    id="other-disc-reader" />

            </div>

            <div class="search-parameter">
                <span class="checkbox-header-inline">Card Reader:</span>

                <label for="card-reader-sd">SD:</label>
                <input type="checkbox" name="card-reader-sd"
                    id="card-reader-sd" />

                <label for="card-reader-microsd">Mirco-SD:</label>
                <input type="checkbox" name="card-reader-microsd"
                    id="card-reader-microsd" />

                <label for="card-reader-none">None:</label>
                <input type="checkbox" name="card-reader-none"
                    id="card-reader-none" />

                <label for="other-card-reader">Other:</label>
                <input class="short-label-input" type="text" name="other-card-reader"
                    id="other-card-reader" />

            </div>

            <label for="webcam">Webcam:</label>
            <select name="webcam" id="webcam" class="adjust-right">
                <option value="webcam-none"></option>
                <option value="webcam-true">Yes</option>
                <option value="webcam-false">No</option>
            </select>

            <label for="microphone">Mic:</label>
            <select name="microphone" id="microphone" class="adjust-right">
                <option value="microphone-none"></option>
                <option value="microphone-true">Yes</option>
                <option value="microphone-false">No</option>
            </select>

            <label for="wattage-adapter">Wattage Adapter (W):</label>
            <input class="short-label-input" type="number" step="1" name="wattage-adapter" id="wattage-adapter" />

        </div>
    </div>

    <div id="bios-bootmenu">
        <h4 class="headers">BIOS & BOOT Menu</h4>
        <div class="search-parameter">

            <label for="bios">BIOS Setup Key:</label>
            <input class="short-label-input" type="text" name="bios" id="bios" />

            <label for="boot-menu">BOOT Menu Key:</label>
            <input class="short-label-input" type="text" name="boot-menu"
                id="boot-menu" />

        </div>
    </div>

    <div id="notes-div">
        <div class="search-parameter">
            <h4 class="headers">Notes</h4>

            <div style="margin-bottom: -5px;" class="search-parameter">
                <label for="condition">*Condition:</label>
                <select id="condition" name="condition" class="adjust-right">
                    <option value="Great Condition">Great Condition</option>
                    <option value="Good Condition">Good Condition</option>
                    <option value="OK Condition">OK Condition</option>
                </select>

                <label for="battery-capacity">Battery Capacity (%):</label>
                <input class="short-label-input" type="number" min="0" max="100"
                    name="battery-capacity" id="battery-capacity" />
            </div>
            <textarea rows="4" cols="50" name="notes"></textarea>
        </div>
    </div>
</div>