<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <img id="fg-logo" src="../static/images/freegeeklogo.jpg" style="width: 200px; height: auto;">
        <h1 class="title">Free Geek Twin Cities testing</h1>
        <h1>Computer Price Calculator & Build Sheet Creator</h1>
        <div class="button-container">
            <a href="/calculator" class="btn btn-primary">Go to Calculator</a>
            <a href="/build-sheet" class="btn btn-secondary">Create Build Sheet</a>
        </div>
    </div>
</body>
</html>