<html>
    <head>
        <title>Print Label</title>
        <link rel="stylesheet" type="text/css" href="../static/label.css"></link>
        <link rel="stylesheet" type="text/css" href="../static/print.css"></link>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            @media print {
                html, body {
                    height:100%; 
                    margin: 0 !important; 
                    padding: 0 !important;
                    overflow: hidden;
                }
            }
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        {% include ("labels/" + database + "_label.html") %}

        <script>
            /* Parses JSON passed through Flask */
            var results = JSON.parse("{{ results|tojson|safe }}");
        </script>
        <script src="../static/print.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
</html> 